<h2 mat-dialog-title>Add New Contact</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select Handle Type" formControlName="handleType">
      <mat-option value="email"> Email</mat-option>
      <mat-option value="sms"> SMS</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Handle" formControlName="handle" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary" (click)="save()">
    Save
  </button>
</mat-dialog-actions>
