<h2 mat-dialog-title>Add New Event</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name" />
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input matInput placeholder="Paid By" formControlName="paidBy" />
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Amount"
      formControlName="amount"
    />
  </mat-form-field>
  <button mat-button (click)="addUser()">Add User</button>
  <div *ngFor="let control of event.users.controls; index as i">
    <mat-form-field>
      <input
        matInput
        placeholder="Contact Hash"
        [formControl]="event.users.controls[i]"
      />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary" (click)="save()">
    Save
  </button>
</mat-dialog-actions>
